<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login Here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-input
      type="text"
      name="uname"
      [(ngModel)]="uname"
      placeholder="Enter User Name"
    ></ion-input>
    <ion-input
      type="password"
      name="upwd"
      [(ngModel)]="upwd"
      placeholder="Enter Password"
    ></ion-input>
    <ion-button (click)="login({'uname':uname,'upwd':upwd})"
      ><ion-icon name="log-in-outline"></ion-icon>Login</ion-button
    >
  </ion-card>
</ion-content>
