<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register Here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      <ion-label>
        <p>Enter First Name</p>
      </ion-label>
      <ion-input
        type="text"
        placeholder="Enter First Name"
        [(ngModel)]="ufirst"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-label>
        <p>Enter Last Name</p>
      </ion-label>
      <ion-input
        type="text"
        placeholder="Enter Last Name"
        [(ngModel)]="ulast"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-label>
        <p>Enter User Name</p>
      </ion-label>
      <ion-input
        type="text"
        placeholder="Enter username"
        [(ngModel)]="uname"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-label>
        <p>Enter Password</p>
      </ion-label>
      <ion-input
        type="password"
        placeholder="Enter Password"
        [(ngModel)]="upwd"
      ></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-button
        color="danger"
        slot="end"
        (click)="enroll({'ufirst':ufirst,'ulast':ulast,'uname':uname,'upwd':upwd})"
        ><ion-icon name="person-add-outline"></ion-icon>Register</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
